table {
  border: 1px solid blue;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
th {
  background-color: yellow;
}

body {
    background-color: linen;
}

p#stats {
  text-align: center;
}
